body {
  background-color: rgb(238, 185, 117);
}

header {
  text-align: center;
  padding: 25px;
  background-color: rgb(212, 109, 91);
  border: 4px rgb(192, 89, 63) solid;
}

#content-container {
  max-width: 950px;
  margin: 0 auto;
}

#form-container {
  margin: 10px 10px 10px 20px;
  padding-top: 15px;
}

#form-title {
  text-align: center;
  padding-bottom: 5px;
}

#receipt {
  margin: 25px 10px 10px 30px;
}
#receipt-details {
  display: none;
}

#receipt-directions {
  text-align: center;
}

#receipt-card {
  height: 500px;
}

ul {
  list-style-type: none;
}

#thank-you {
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(212, 109, 91);
  padding: 5px 0px 3px 0px;
}